/* 
* @Author: Marte
* @Date:   2017-07-21 16:46:29
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-21 17:24:56
*/
.container{
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}